.wc-shortcode-components-validation-error {
    display: none;
}

#shortcode-validate-error-invalid-gifting-recipient {
    font-size: 0.75em;
    display: flex;
    align-items: center;
    margin-top: -12px;
    margin-bottom: 20px;

}

#shortcode-validate-error-invalid-gifting-recipient svg {
    fill: var(--wc-red, #cc1818);

}

#shortcode-validate-error-invalid-gifting-recipient span {
    color: var(--wc-red, #cc1818);
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
}

.woocommerce .woocommerce_subscriptions_gifting_recipient_email .input-text.recipient_email.wcsg-email-error {
    border-color: var(--wc-red, #cc1818);
    color: var(--wc-red, #cc1818);
}

.wcsg_add_recipient_fields_container label {
    display: inline-block;
    margin-bottom: 20px;
}

.woocommerce-cart-form__cart-item .wcsg_add_recipient_fields_container label {
    margin-bottom: 4px;
}

.wcsg_add_recipient_fields_container .wcsg_add_recipient_fields .woocommerce_subscriptions_gifting_recipient_email {
    padding: 0;
    margin-bottom: 20px;
}

.wcsg_add_recipient_fields_container .wcsg_add_recipient_fields.hidden {
    display: none;
}

.wcsg_add_recipient_fields_container .recipient_email:focus {
    outline-offset: -2px;
}

#woocommerce_subscriptions_gifting_field {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	max-width: 100%;
}

#woocommerce_subscriptions_gifting_field div {
	display: inline-flex;
	align-items: center;
	max-width: 100%;
	word-break: break-all;
	word-wrap: break-word;
}
