/* Plugin Activation */
.woocommerce-subscriptions-activated p a.button-primary {
	display: inline-block;
}
.woocommerce-subscriptions-activated a.button-primary:hover {
	background: #bb77ae;
	border-color: #aa559a;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
}
.woocommerce-subscriptions-activated a.button-primary:active,
.woocommerce-subscriptions-activated a.button-primary:active {
	background: #aa559a;
	border-color: #aa559a;
}

/* Subscriptions Admin Page */
.post-type-shop_subscription .widefat .column-status,
.post-type-shop_subscription .widefat .column-order_id,
.post-type-shop_subscription .widefat .column-order_title {
	width: 142px;
	text-align: left;
}
.widefat .type-shop_subscription td.column-status {
	padding: 6px 7px;
}
.widefat .type-shop_subscription .column-status mark {
	display:block;
	text-align: center;
	white-space: nowrap;
	padding: 0 2px;
	background: #999;
	border: 1px solid #999;
	-webkit-box-shadow:inset 0 0 2px 1px rgba(255,255,255,0.5);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	margin: 0;
	font-size:9px;
	text-transform: uppercase;
	color:#fff;
	font-weight: bold;
	text-shadow:0 1px 0 rgba(0,0,0,0.3);
}
.widefat .type-shop_subscription .column-status mark.active {
	background-color: #339933;
	border-color: #339933;
}
.widefat .type-shop_subscription .column-status mark.expired {
	background-color: #A0658B;
	border-color: #A0658B;
}
.widefat .type-shop_subscription .column-status mark.on-hold {
	background-color: #E66F00;
	border-color: #E66F00;
}
.widefat .type-shop_subscription .column-status mark.failed {
	background-color: red;
	border-color: red;
}
.widefat .type-shop_subscription .column-status mark.cancelled {
	background-color: #ccc;
	border-color: #ccc;
}
.widefat .type-shop_subscription .column-status mark.processing {
	background-color: #2184c2;
	border-color: #2184c2;
}

/* Product List table */
table.wp-list-table span.product-type.variable-subscription {
	background-position: -48px 0;
}

/* Orders List Table */
a.close-subscriptions-search {
	font-size: 1em;
	padding: 0em 0.45em;
	border-radius: 1.4em;
	background: #dd0000;
	color: #ffffff;
	margin: -0.3em 0.6em 0 0;
}
.dismiss-subscriptions-search {
	position: relative;
}
.dismiss-subscriptions-search a {
	padding-bottom: 9px;
}

/* Edit Product/Subscriptions Page */
.woocommerce_options_panel .subscription_pricing {
	float: left;
	clear: both;
	height: 100%;
	width: 100%;
}
.woocommerce_options_panel .subscription_pricing .description {
	font-style: normal;
}
.subscription_pricing .form-field,
.subscription_pricing .form-field *,
.variable_subscription_pricing .form-field,
.variable_subscription_pricing .form-field *,
.variable_subscription_trial .form-field,
.variable_subscription_trial .form-field * {
	float:left;
}
p._subscription_price_field,
p._subscription_period_field,
p._subscription_length_field {
	display: inline-block;
}
.woocommerce_options_panel input[type=text].wc_input_subscription_price,
.woocommerce_options_panel input[type=text].wc_input_subscription_intial_price,
.woocommerce_options_panel input[type=text].wc_input_subscription_trial_length,
.woocommerce_options_panel input[type=text].wc_input_subscription_payment_sync {
	width: 5.5em;
}
p._subscription_period_field label,
p._subscription_length_field label,
p._subscription_period_interval_field label,
p._subscription_trial_period_field label,
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_price_field label,
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_period_field label,
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_length_field label,
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_period_interval_field label,
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_trial_length_field label,
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_trial_period_field label,
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_payment_sync_field label {
	display: none;
}
#woocommerce-product-data .woocommerce_options_panel p._subscription_price_field {
	padding-right: 0 !important;
}
p._subscription_price_field input,
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_price_field input,
p._subscription_sign_up_fee_field input,
p._subscription_trial_length_field input,
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_trial_length_field input,
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_payment_sync_field input {
	width: 5em;
}
.woocommerce_options_panel #sale-price-period {
	margin-right: 1em;
}
.wc_input_subscription_length {
	min-width: 90px;
}
.wc-metaboxes-wrapper .wc-metabox table td .wc_input_subscription_length {
	width: 90px;
}
._subscription_trial_period {
	min-width: 7.1em;
}
.wc-metaboxes-wrapper .wc-metabox table td ._subscription_trial_period {
	width: 7.1em;
}
#woocommerce-product-data .woocommerce_options_panel p._subscription_period_field,
#woocommerce-product-data .woocommerce_options_panel p._subscription_length_field,
#woocommerce-product-data .woocommerce_options_panel p._subscription_period_interval_field,
#woocommerce-product-data .woocommerce_options_panel p._subscription_trial_period_field,
#woocommerce-product-data .woocommerce_options_panel p._subscription_payment_sync_date_month_field {
	padding: 5px 0 5px 5px !important;
}
#woocommerce-product-data .wc-metaboxes-wrapper .wc-metabox table td p._subscription_price_field {
	width: 70px !important;
}
#woocommerce-product-data .wc-metaboxes-wrapper .wc-metabox table td p._subscription_sign_up_fee_field {
	width: 100% !important;
}
#woocommerce-product-data .wc-metaboxes-wrapper .wc-metabox table td p._subscription_price_field,
#woocommerce-product-data .wc-metaboxes-wrapper .wc-metabox table td p._subscription_sign_up_fee_field,
#woocommerce-product-data .wc-metaboxes-wrapper .wc-metabox table td p._subscription_trial_length_field,
#woocommerce-product-data .wc-metaboxes-wrapper .wc-metabox table td p._subscription_payment_sync_field {
	padding: 0 0 0 0 !important;
	margin: 0;
}
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_period_field select,
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_length_field select {
	width: auto !important;
}
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_trial_period_field select {
	width: 88px !important;
}
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_trial_period_field img.help_tip {
	margin-top: 4px;
}
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_period_field span,
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_length_field span,
.wc-metaboxes-wrapper .wc-metabox table td p._subscription_sign_up_fee_field span {
	padding: 5px 0 0 2px;
}
#woocommerce-product-data .wc-metaboxes-wrapper .wc-metabox table td p._subscription_period_field,
#woocommerce-product-data .wc-metaboxes-wrapper .wc-metabox table td p._subscription_length_field,
#woocommerce-product-data .wc-metaboxes-wrapper .wc-metabox table td p._subscription_period_interval_field,
#woocommerce-product-data .wc-metaboxes-wrapper .wc-metabox table td p._subscription_trial_period_field {
	padding: 0 0 0 5px !important;
	margin: 0;
}

#woocommerce-product-data .wc-metaboxes-wrapper .wc-metabox table td p._subscription_trial_period_field select {
	margin-left: 5px;
}

#woocommerce-product-data .woocommerce_options_panel p._subscription_trial_length_field,
#woocommerce-product-data .woocommerce_options_panel p._subscription_sign_up_fee_field,
#woocommerce-product-data .woocommerce_options_panel p._subscription_payment_sync_date_day_field {
    clear: left;
    padding-right: 0px !important;
}
.woocommerce_options_panel p._subscription_trial_length_field,
.woocommerce_options_panel p._subscription_trial_period_field,
.woocommerce_options_panel p._subscription_sign_up_fee_field {
    margin-top: 0;
}
.woocommerce_options_panel p._subscription_trial_period_field img,
.woocommerce_options_panel p._subscription_sign_up_fee_field img,
.woocommerce_options_panel p._subscription_payment_sync_date_field img,
.woocommerce_options_panel p._subscription_payment_sync_date_month_field img {
    padding-top: 0.7em;
}

.subscription_sync_week_month select.wc_input_subscription_payment_sync {
	min-width: 180px;
}

.wc-metaboxes-wrapper .wc-metabox table tr.variable_subscription_sync td select.wc_input_subscription_payment_sync {
	width: auto !important;
}

._subscription_payment_sync_field img.help_tip {
	padding-top: 8px;
}

.variable_subscription_sync p._subscription_payment_sync_field {
	padding-left: 0 !important;
}

/* Variation Pricing Fields in WooCommerce 2.3 */
.variable_subscription_pricing_2_3 .wcs_hidden_label {
	display: none;
}
.variable_subscription_pricing_2_3 .wc_input_subscription_price {
	max-width: 24%;
	clear: left;
}
.variable_subscription_pricing_2_3 .wc_input_subscription_period_interval {
	max-width: 41%;
	float: right;
}
.variable_subscription_pricing_2_3 .wc_input_subscription_period {
	max-width: 32%;
	float: right;
}
.variable_subscription_pricing_2_3.variable_subscription_trial p.form-row {
	margin-bottom: 0;
}
.variable_subscription_pricing_2_3 .wc_input_subscription_trial_period {
	max-width: 47%;
	float: right;
}
.variable_subscription_pricing_2_3 .wc_input_subscription_trial_length {
	max-width: 48%;
}
.variable_subscription_pricing_2_3 .variable_subscription_trial_sign_up {
	clear: both;
}
.variable_subscription_pricing_2_3 p._subscription_length_field label {
	display: inline-block;
}
.variable_subscription_pricing_2_3 .wc_input_subscription_payment_sync_day {
	max-width: 13%;
}
.variable_subscription_pricing_2_3 .wc_input_subscription_payment_sync_month {
	max-width: 86%;
	float: right;
}
@media screen and (max-width: 1190px) {
	.variable_subscription_pricing_2_3 p._subscription_price_field,
	.variable_subscription_pricing_2_3 p._subscription_length_field {
		width: 100%;
	}
	.variable_subscription_pricing_2_3 p._subscription_price_field {
		width: 100%;
		margin-bottom: 0;
	}
	.variable_subscription_pricing_2_3 .wc_input_subscription_payment_sync_day {
		max-width: 20%;
	}
	.variable_subscription_pricing_2_3 .wc_input_subscription_payment_sync_month {
		max-width: 78%;
		float: right;
	}
}

/* Users Administration Screen */
.woocommerce_active_subscriber .active-subscriber:before {
	content: "\f147";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 24px/1 'dashicons';
	vertical-align: top;
}

/* Add/Edit Subscription Screen */
#woocommerce-subscription-data .handlediv,
#woocommerce-subscription-data h3.hndle {
	display: none;
}
#woocommerce-subscription-data .inside {
	padding: 0;
	margin: 0;
}
#woocommerce-subscription-schedule strong {
	display: inline-block;
}
#woocommerce-subscription-schedule .date-fields {
	margin: 1em 0;
}
#woocommerce-subscription-schedule p._billing_period_field,
#woocommerce-subscription-schedule p._billing_interval_field {
	display: inline-block;
	padding: 0 0 0 1px;
	margin: 0.5em 0 0;
}
#woocommerce-subscription-schedule p._billing_interval_field {
	padding-left: 0;
}
#woocommerce-subscription-schedule p._billing_interval_field {
	width: 66%;
}
#woocommerce-subscription-schedule p._billing_period_field {
	width: 30%;
}
#woocommerce-subscription-schedule p._billing_interval_field label {
	display: inline-block;
	font-weight: bold;
}
#woocommerce-subscription-schedule p._billing_period_field label {
	display: none;
}
#woocommerce-subscription-schedule p._billing_interval_field select,
#woocommerce-subscription-schedule p._billing_period_field select {
	display: inline-block;
}
#woocommerce-subscription-schedule p._billing_interval_field select {
	width: 58%;
	margin-left: 5px;
}
#woocommerce-subscription-schedule p._billing_period_field select {
	width: 100%;
}
#woocommerce-subscription-schedule .date-fields label,
#woocommerce-subscription-schedule .wcs-edit-date-action {
	display: inline-block;
	font-weight: bold;
}
#woocommerce-subscription-schedule .wcs-date-input input[type="text"]:first-of-type {
	width: 8em;
}
#woocommerce-subscription-schedule img.ui-datepicker-trigger {
	float: left;
	margin: 0.5em 0.1em;
}
#woocommerce-subscription-schedule .wcs-date-input,
#woocommerce-subscription-schedule .billing-schedule-edit {
	width: 100%;
}
#woocommerce-subscription-schedule .wcs-edit-date-action {
	width: 1.5em;
	float: right;
}
#woocommerce-subscription-schedule .wcs-edit-date,
#woocommerce-subscription-schedule .wcs-delete-date {
	text-indent: -9999px;
	position: relative;
	height: 1em;
	width: 1em;
	display: inline-block;
	margin: 0 .5em 0 0;
}
#woocommerce-subscription-schedule .wcs-edit-date:before,
#woocommerce-subscription-schedule .wcs-delete-date:before {
	font-family: WooCommerce;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #999;
}
#woocommerce-subscription-schedule .wcs-edit-date:before {
	content: "\e603";
}
#woocommerce-subscription-schedule .wcs-edit-date:hover:before {
	color: #555555;
}
#woocommerce-subscription-schedule .wcs-delete-date:before {
	content: "\e013";
}
#woocommerce-subscription-schedule .wcs-delete-date:hover:before {
	color: #AA0000;
}

/* Related Orders Metabox on Edit Subscription/Order Admin Screen */
#subscription_renewal_orders .inside {
	margin: 0;
	padding: 0;
}

.woocommerce_subscriptions_related_orders {
	margin: 0;
	overflow: auto;
}

.woocommerce_subscriptions_related_orders table {
	width: 100%;
	background: #fff;
	border-collapse: collapse;
}

.woocommerce_subscriptions_related_orders table thead th {
	background: #f8f8f8;
	padding: 8px;
	font-size: 11px;
	text-align: left;
	color: #555;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.woocommerce_subscriptions_related_orders table thead th:last-child {
	padding-right: 12px;
}

.woocommerce_subscriptions_related_orders table thead th:first-child {
	padding-left: 12px;
}

.woocommerce_subscriptions_related_orders table thead th:last-of-type,
.woocommerce_subscriptions_related_orders table td:last-of-type {
	text-align: right;
}

.woocommerce_subscriptions_related_orders table tbody th,
.woocommerce_subscriptions_related_orders table td {
	padding: 8px;
	text-align: left;
	line-height: 26px;
	vertical-align: top;
	border-bottom: 1px dotted #ececec;
}

.woocommerce_subscriptions_related_orders table tbody th:last-child,
.woocommerce_subscriptions_related_orders table td:last-child {
	padding-right: 12px;
}

.woocommerce_subscriptions_related_orders table tbody th:first-child,
.woocommerce_subscriptions_related_orders table td:first-child {
	padding-left: 12px;
}

.woocommerce_subscriptions_related_orders table tbody tr:last-child td {
	border-bottom: none;
}

/* Hide irrelevant sections on Edit Subscription screen */
body.post-type-shop_subscription .order_actions #actions optgroup[label='Resend order emails'],
body.post-type-shop_subscription .add-items .description.tips,
body.post-type-shop_subscription .add-items .button.refund-items {
	display: none;
}
@media screen and (max-width: 782px) {
	#woocommerce-subscription-schedule .wcs-date-input input[type="text"]:first-of-type {
		width: 45%;
	}
	#woocommerce-subscription-schedule .wcs-date-input input[type="text"]:not(:first-of-type) {
		width: 19%;
	}
}
